body {
  margin: 0;
}

#canvas {
  width: 400px;
  height: 400px;
  margin: 0px auto;
}

#head {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 90px;
  background: #AC7F4C;
  border-radius: 50% 50% 50% 50%;
  /* box-shadow: inset 0 0 50px black; */
}

#poof1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  left: -70px;
  top: 110px;
  border-radius: 50% 50% 50% 50%;
}

#poof2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  right: -70px;
  top: 110px;
  border-radius: 50% 50% 50% 50%;
}

#poof3 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  left: -50px;
  top: 180px;
  border-radius: 50% 50% 50% 50%;
}

#poof4 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  right: -50px;
  top: 180px;
  border-radius: 50% 50% 50% 50%;
}

#poof5 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  left: -10px;
  top: 230px;
  border-radius: 50% 50% 50% 50%;
}

#poof6 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  right: -10px;
  top: 230px;
  border-radius: 50% 50% 50% 50%;
}

#poof7 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  left: 60px;
  top: 270px;
  border-radius: 50% 50% 50% 50%;
}

#poof8 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  right: 60px;
  top: 270px;
  border-radius: 50% 50% 50% 50%;
}

#eyebrow1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #F4DFAD;
  /* box-shadow: inset 0 0 20px black; */
  right: 100px;
  top: 50px;
  border-radius: 50% 50% 50% 50%;
}

#eyebrow2 {
  position: absolute;
  width: 80px;
  height: 100px;
  background: #F4DFAD;
  /* box-shadow: inset 0 0 20px black; */
  right: 45px;
  top: 80px;
  border-radius: 50% 50% 50% 50%;
}

#eyebrow3 {
  position: absolute;
  width: 80px;
  height: 100px;
  background: #F4DFAD;
  /* box-shadow: inset 0 0 20px black; */
  left: 45px;
  top: 80px;
  border-radius: 50% 50% 50% 50%;
}

#eye1 {
  position: absolute;
  width: 30px;
  height: 40px;
  background: #120F0A;
  /* box-shadow: inset 0 0 10px black; */
  right: 70px;
  top: 100px;
  border-radius: 50% 50% 50% 50%;
  animation-name: winkopen;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#eye2 {
  position: absolute;
  width: 30px;
  height: 40px;
  background: #120F0A;
  /* box-shadow: inset 0 0 10px black; */
  left: 70px;
  top: 100px;
  border-radius: 50% 50% 50% 50%;
}

#wink1 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 60px;
  top: 113px;
  border: solid 5px;
  border-radius: 50% 50% 50% 50%;
  border-color: black transparent transparent transparent;
  animation-name: winkclosed;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#iris1 {
  position: absolute;
  width: 10px;
  height: 15px;
  background: white;
  /* box-shadow: inset 0 0 10px black; */
  right: 75px;
  top: 105px;
  border-radius: 50% 50% 50% 50%;
  animation-name: winkopen;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#iris2 {
  position: absolute;
  width: 10px;
  height: 15px;
  background: white;
  /* box-shadow: inset 0 0 10px black; */
  left: 85px;
  top: 105px;
  border-radius: 50% 50% 50% 50%;
}

#ear1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  left: -16px;
  top: -35px;
  border-radius: 50% 50% 50% 50%;
}

#ear2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #AC7F4C;
  /* box-shadow: inset 0 0 20px black; */
  right: -16px;
  top: -35px;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(10deg);
}

#lip1 {
  position: absolute;
  width: 90px;
  height: 30px;
  background: #544843;
  border-radius: 50% 50% 50% 50%;
  border: solid 5px;
  border-color: transparent black black black;
  right: 135px;
  top: 200px;
  transform: rotate(-10deg);
  animation-name: smileuplip1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#lip2 {
  position: absolute;
  width: 90px;
  height: 30px;
  background: #544843;
  border-radius: 50% 50% 50% 50%;
  border: solid 5px;
  border-color: transparent black black black;
  left: 135px;
  top: 200px;
  transform: rotate(10deg);
  animation-name: smileuplip2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#lipcover {
  position: absolute;
  width: 180px;
  height: 25px;
  background: #544843;
  top: 201px;
  left: 60px;
  animation-name: smileup;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#nose {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #BA534F;
  border-radius: 10% 100% 100% 0 / 100% 100% 10% 0;
  transform: rotate(-45deg);
  margin-left: 133px;
  margin-top: 155px;
}

#mouth {
  position: absolute;
  width: 230px;
  height: 150px;
  background: #544843;
  /* box-shadow: inset 0 0 20px black; */
  right: 36px;
  top: 140px;
  border-radius: 50% 50% 50% 50%;
}

#toothline {
  position: absolute;
  width: 0px;
  height: 50px;
  border: 2.5px solid black;
  top: 255px;
  left: 148px;
  animation-name: smileup;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#teeth {
  position: absolute;
  height: 0;
  width: 80px;
  border-top: 80px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-top: 230px;
  margin-left: 100px;
  animation-name: smileup;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#openmouth {
  position: absolute;
  width: 120px;
  height: 40px;
  background: #BA534F;
  left: 85px;
  top: 204px;
  border: 5px solid black;
  border-radius: 0% 0% 50% 50%;
  animation-name: smiledown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes smileup {
  0% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes smileuplip1 {
  0% {
    transform: translateY(0px) rotate(-10deg);
  }

  60% {
    transform: translateY(0px) rotate(-10deg);
  }

  80% {
    transform: translateY(-7px) rotate(-10deg);
  }

  100% {
    transform: translateY(0px) rotate(-10deg);
  }
}

@keyframes smileuplip2 {
  0% {
    transform: translateY(0px) rotate(10deg);
  }

  60% {
    transform: translateY(0px) rotate(10deg);
  }

  80% {
    transform: translateY(-7px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) rotate(10deg);
  }
}

@keyframes smiledown {
  0% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes winkclosed {
  0% {
    opacity: 0%;
  }

  60% {
    opacity: 0%;
  }

  70% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  90% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes winkopen {
  0% {
    opacity: 100%;
    transform: scaleY(1);
  }

  60% {
    opacity: 100%;
    transform: scaleY(1);
  }

  70% {
    opacity: 0%;
    transform: scaleY(0);
  }

  80% {
    opacity: 0%;
    transform: scaleY(0);
  }

  90% {
    opacity: 100%;
    transform: scaleY(1);
  }

  100% {
    opacity: 100%;
    transform: scaleY(1);
  }
}
